<ng2-toasty [position]="'top-right'"></ng2-toasty>
<section id="userRentals">
  <h1 class="page-title">My Rentals</h1>
  <div class="row">
    <ng-container *ngIf="rentals && rentals.length > 0">
      <div *ngFor="let rental of rentals; let i = index" class="col-md-4">
        <div class="card text-center">
          <div class="card-block">
            <h4 class="card-title">{{rental.category}} - {{rental.city | ucwords}}</h4>
            <a routerLink="/rentals/{{rental._id}}" class="btn btn-ghost">Go to Rental</a>
            <span *ngIf="rental.bookings.length > 0">
              <bwm-manage-rental-booking [bookings]="rental.bookings"></bwm-manage-rental-booking>
            </span>
          </div>
          <div class="card-footer text-muted">
            <p>Created at {{rental.createdAt | formatDate}}</p>
            <button type="button" (click)="rentalDeleteIndex = i"
                    *ngIf="rentalDeleteIndex !== i"
                    class="btn btn-bwm btn-delete">Delete</button>
                <div *ngIf="rentalDeleteIndex == i">
                    <p class="confirm-message">Do you confirm delete?</p>
                    <button class="btn btn-success" (click)="deleteRental(rental._id)">Yes</button>
                    <button class="btn btn-danger"
                            (click)="rentalDeleteIndex = undefined">No</button>
                </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="col-md-8" *ngIf="rentals && rentals.length === 0">
      <div class="alert alert-warning">
        You dont have any rentals currently created. If you want advertised your property
        place follow this link.
        <a routerLink="/rentals/new" class="btn btn-bwm">Register Rental</a>
      </div>
    </div>
  </div>
</section>